.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.pad2 {
    padding: 2px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

textarea {
    width: 40vw;
    height: 60vh;
}